<p id="notice"><%= notice %></p>

<h1>Listing Solution Submissions</h1>

<table>
  <thead>
    <tr>
      <th>Solition</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solution_submissions.each do |solution_submission| %>
      <tr>
        <td><%= solution_submission.solition %></td>
        <td><%= link_to 'Show', solution_submission %></td>
        <td><%= link_to 'Edit', edit_solution_submission_path(solution_submission) %></td>
        <td><%= link_to 'Destroy', solution_submission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Solution submission', new_solution_submission_path %>
