!!!
%html
  %head
    = javascript_include_tag "ace-builds/src-noconflict/ace.js" 
    = javascript_include_tag "ace-builds/src-noconflict/theme-monokai.js" 
    = javascript_include_tag "ace-builds/src-noconflict/mode-java.js" 

%h1 Joined match
%h2 Here is a programming challenge for you!
%style{:media => "screen", :type => "text/css"}
  \#editor {
  position: relative;
  top: 20px;
  width: 1000px;
  height: 350px;
  bottom: 100px;
  }

#content
  #{@problem_statement}

#editor
  #{@problem_signature}

:coffeescript
  editor = ace.edit("editor")
  editor.setTheme "ace/theme/monokai"
  editor.getSession().setMode "ace/mode/java"
  $(document).ready ->
    $('#check_answer').click (event) ->
      event.preventDefault()
      console.log editor.getValue();
      $.ajax
        contentType: 'application/json',
        url: "/match/check_answer/#{@match.id}",
        type: "GET",
        dataType: "json",
        data: { answer: editor.getValue() }

%style{:media => "screen", :type => "text/css"}
  \#check_answer{
  top: 40px;
  position: relative;
  }

=link_to "Submit", {:controller => 'matches', :action => 'check_answer'}, id: "check_answer", class: "btn btn-danger edituser"
